# --- Angular Output ---
/dist/
/tmp/
/out-tsc/
/.angular/cache/

# --- Node Modules & Logs ---
/node_modules/
npm-debug.log*
yarn-error.log*

# --- Coverage Reports ---
/coverage/

# --- IDEs & Editoren ---
# VS Code: Ignoriere alles
.vscode/

# JetBrains IDEs (WebStorm, IntelliJ)
.idea/

# Andere Editoren
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# --- OS-Spezifische Dateien ---
.DS_Store
Thumbs.db

# --- Misc ---
/connect.lock
/libpeerconnection.log
testem.log
/typings/
.sass-cache/
