.user-detail-header {
  display: flex;
  align-items: flex-end;
  min-height: 250px;
  background-color: crimson;
  border-radius: 12px;
  color: white;

  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}

.user-details {
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    margin-bottom: 0;
  }
}

.icon-button {
  position: absolute;
  right: 0;
  top: 0;
}

.cw{
    color: white;
}
